 
body{
  background-image:  url(images/pattern-background-desktop.svg);
  font-family: 'Red Hat Display', sans-serif;
}

main{
  background-color: hsl(255,100%,100%);
    border: 1px hidden; 
    border-radius: 20px;
    width: 350px;
    display: grid;
    text-align: center;
    font-family: 'Red Hat Display', sans-serif;
    overflow: hidden;
    margin: 0 auto ;
  }
  p{
    font-size: 16px;
    padding:0 15px;
    font-weight: 500;
  }
  .favicon{
    width: 100%;
  }
  .music{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:hsl(225, 100%, 98%);
    padding: 0.7rem;
    border-radius: 10px;
    margin:1rem 0;
  }
  .music p{
    padding-right: 4rem;
    display: grid;
  }
  .music a{
    color:  hsl(245, 75%, 52%);
    font-weight: 700;
  }

  .attribution { font-size: 11px; text-align: center; }
  .attribution a { color: hsl(228, 45%, 44%); }
  .content{
    padding: 6%;
  }
  .button {
   padding:1rem;
   width:100%;
   background-color: hsl(245, 75%, 52%);
   border:0;
   border-radius:10px;
   color: hsl(225, 100%, 94%);
   font-size: 16px; 
   box-shadow: 0 20px 20px 0 ;
   font-weight: 700;
  }
  .button:hover{
    cursor: pointer;
  }
.music:hover a{
  cursor: pointer;
}
p{
  color:hsl(224, 23%, 55%) ;
  font-size:500;
}
h2{
  font-size: 900;
  color: hsl(223, 47%, 23%);
}

.strong{
  font-weight: 700;
  color: hsl(223, 47%, 23%) ;
}
.cancel{
font-weight: 700;
color:hsl(224, 23%, 55%) ;
}
.cancel:hover{
 cursor: pointer;
}
@media (max-width:375px) {
  body{
     background-image: url(images/pattern-background-mobile.svg); 
  }
}